@font-face { font-family: AlarmClock; src: url('alarmclock.ttf'); }
@font-face { font-family: Logo; src: url('Bombing.ttf'); } 
@font-face { font-family: Game; src: url('Endgame.otf'); } 
@font-face { font-family: Roboto; src: url('Roboto-Medium.ttf'); } 

h3,h4
{
  color: white;
  font-family: Game;
  font-size: 5px;
}

#logoJogo
{
  color:white;
  text-align: left;
  margin-left: 70px;
  font-family: Logo;
  font-size: 55px;
 
}

#clock
{
  margin: auto;
  width: 25%;
  border: 3px solid red;
  color: red;
  font-size: 125px;
  left: 60px;
  padding: 10px;
  margin-bottom: 5px;
  font-family: AlarmClock;
}

.square {
  height: 30px;
  width: 30px;
  display: inline-block
}