@font-face { font-family: AlarmClock; src: url('alarmclock.ttf'); }
@font-face { font-family: Logo; src: url('Bombing.ttf'); } 
@font-face { font-family: Game; src: url('Endgame.otf'); } 

h3,h4
{
  color: white;
  font-family: Game;
  font-size: 5px;
}

#logoJogo
{
  color:white;
  text-align: left;
  margin-left: 70px;
  font-family: Logo;
  font-size: 55px;
 
}

#clock
{
  margin: auto;
  width: 25%;
  border: 3px solid red;
  color: red;
  font-size: 125px;
  left: 60px;
  padding: 10px;
  margin-bottom: 5px;
  font-family: AlarmClock;
}

.button
{
    width:150px;
    height:62px;
    top:70%;
    left:48%;
    font-family: Game;
    position:absolute;
    text-align: center;  
}

.centralized
{
    position:absolute;
    text-align: center;
    color: white;

}

#message
{

    top:50%;
    left:0%;
    font-family: Game;
    margin-left:60px;
    margin-right: 60px;
    
}

#title 
{
    width:700px;
    height:100px;
    top:20%;
    left:23%;
    font-family: Logo;
    font-size:120px;  
}

#playButton
{
    font-size:40px;
    top:70%;
    left:40%;
    font-family: Game;
    margin-left:60px;
    margin-right: 60px;
}