
<!doctype html>
<html lang="en">
	<head>
		<link rel= "stylesheet" type= "text/css" href= "static/styles/mystyle.css">
      	<meta charset="UTF-8">
      	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<!-- Bootstrap CSS -->
      	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body style="background-color: black">
    <h1 id="title" class="centralized" >Sem tempo, Irmao!</h1>
    <h2 id="message" class="centralized">Resolva todos os desafios antes que o tempo acabe para desarmar a bomba e impedir que ela exploda!</h2>
    <!-- <a href="/jogo">
        <button type="button" class="btn btn-danger button" style="color:black;font-size:40px;"  >Danger</button>
    </a> -->
    
  <a id ="playButton" href="/jogo" class="centralized" style="text-decoration:none" 
                            onmouseover="changeButtonColor(true)" onmouseout="changeButtonColor(false)">Jogar</a>

  <footer>

    <script>
        function changeButtonColor(state)
        {
            var button = document.getElementById("playButton");
            if(state == true)
                button.style.color="green";
            else
                button.style.color="white";

        }
        </script>
  </footer>
	</body>



</html>