
<!doctype html>
<html lang="en">
	<head>

		<link rel= "stylesheet" type= "text/css" href= "static/styles/mystyle.css">
      	<meta charset="UTF-8">
      	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<!-- Bootstrap CSS -->
      	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body style="background-color: black">
		<audio id="defeat">
			<source src="static/sounds/explosion.mp3" type="audio/mpeg">
		</audio>
		<audio id="victory">
				<source src="static/sounds/victory.mp3" type="audio/mpeg">
		</audio>
		  <h2 id="logoJogo" style=" margin-bottom: -55px;" >Sem tempo, Irmao!</h2>
		  <a id ="previousGames" class = "button"  href="/previousGames" 
		  	 onmouseover="changeButtonColor(true,'previousGames')" onmouseout="changeButtonColor(false,'previousGames')">Jogos Passados</a>
		<h3 style="  text-align:center" >Tempo Restante</h3>
        <h1 id="clock" style="display: flex">02:00</h1>

		  
		<h2 style="text-align:center; font-size:20px;font-family: Game;color: white" id="hearts" > Aperte o botão para começar! </h2> 

      	<div class="container">
      		<div class="row">
        		<div class="col"  style="text-align:center; left: -145px ;margin-top:-35px;">
            		<br>
          			<h3 style="font-size: 50px; "> Desafios Fixos: </h3>
					<div id="fixedChallenges">
							
					</div>
				</div>
    
       			<div class="col" style=" text-align:center; left: 100px ;margin-top:-35px" >
            		<br>
					<h3 style="font-size: 50px; ">Desafios Periódicos:</h3>
					<div id="periodicChallenges">
					</div>
       		 	</div>

      		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</div>

		<footer>
      		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
			<script type="text/javascript" src="static/javascript/functions.js"></script>
			<script type="text/javascript" charset="utf-8">
				//Socket functions
				var socket = io();
				socket.on('start',function(data)
				{
					startTimer(data.minutes, data.seconds);
					createNewFixedChallenge(data.challenge,data.params);
					
				}
				);

				socket.on('newFixedChallenge',function(data)
				{
					createNewFixedChallenge(data.challenge, data.params);
				});

				socket.on('newPeriodicChallenge',function(data)
				{
					createNewPeriodicChallenge(data.challenge, data.params);
				}
				);

				socket.on('correctFixedChallenge',function(data)
				{
					correctFixedChallenge(data.challenge, data.correct);
				});

				socket.on('correctPeriodicChallenge',function(data)
				{;
					correctPeriodicChallenge(data.challenge, data.correct);
				}
				);

				socket.on('gameOver',function(data)
				{
					gameOver(data.win);
				}
				);
				
				socket.on('loseLife',function()
				{
					loseLife();
				}
				);

				
			</script>
			


		</footer>

	</body>

</html>