
<!doctype html>
<html lang="en">
	<head>
		<link rel= "stylesheet" type= "text/css" href= "static/styles/mystyle.css">
      	<meta charset="UTF-8">
      	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<!-- Bootstrap CSS -->
      	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>

	<body style="background-color: black">
      	<h2 id="logoJogo" style=" margin-bottom: -55px;" >Sem tempo, Irmao!</h2>
		<h3 style="  text-align:center" >Tempo Restante</h3>
        <h1 id="clock">02:00</h1>

      	<h2 id="textLifes" style="color: white; font-family:Game ; text-align:center; font-size:20px" >Vidas: <span id="hearts" style="color: red"> ♥ ♥ ♥ </span></h2> 

      	<div class="container">
      		<div class="row">
        		<div class="col"  style="  text-align:center; left: -125px ;margin-top:-35px;">
            		<br>
          			<h3 style="font-size: 20px; "> Desafios Fixos: </h3>
					<div id="fixedChallenges">
							
					</div>
				</div>
    
       			<div class="col" style=" text-align:center; left: 120px ;margin-top:-35px" >
            		<br>
					<h3 style="font-size: 20px; ">Desafios Periódicos:</h3>
					<div id="periodicChallenges">
					</div>
       		 	</div>

      		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</div>


		<!--BOTOES PARA DEBUGGAR SOCKET -->
		<button onclick="socketStart()">socketStart</button>
		<button onclick="socketNewFixedChallenge()">socketNewFixedChallenge</button>
		<button onclick="socketCorrectFixedChallenge()">socketCorrectFixedChallenge</button>
		<button onclick="socketNewPeriodicChallenge()">socketNewPeriodicChallenge</button>
		<button onclick="socketCorrectPeriodicChallenge()">socketCorrectPeriodicChallenge</button>
		<button onclick="socketLoseLife()">socketLoseLife(</button>
		<button onclick="socketGameOver()">socketGameOver</button>
		<button onclick="restartlevel()">restartlevel</button>

    <!-- <button onclick="comecaTimer()">Click me</button> -->
		<footer>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      
      		<!-- <script src="mudaCheckbox.js"></script> -->
      		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
			<script type="text/javascript" src="static/javascript/functions.js"></script>
			<script type="text/javascript" charset="utf-8">
				//Socket functions
				var socket = io();
				socket.on('start',function(data)
				{
					data=data[0];
					createNewFixedChallenge(data);
					startTimer(2,0);
				}
				);
				socket.on('newFixedChallenge',function(data)
				{
					createNewFixedChallenge(data);
				});
				socket.on('correctFixedChallenge',function(data)
				{
					correctFixedChallenge(data);
				});
				socket.on('newPeriodicChallenge',function(data)
				{
					createNewPeriodicChallenge(data);
				}
				);
				socket.on('correctPeriodicChallenge',function(data)
				{
					console.log(data) 
					//data = data.toString(); 
					console.log(typeof(data)) 
					data = data.split(" ");
					console.log(data)
					correctPeriodicChallenge(data[0],data[1]);
				}
				);
				socket.on('gameOver',function(data)
				{
					gameOver(data);
				}
				);
				
				socket.on('loseLife',function()
				{
					loseLife();
				}
				);

				//Funcao de inicio do Jogo
				function gameStart()
				{
    				socket.emit('comecou');
				}

				//Funcoes de teste do socket -> NAO VAO EXISIR NA APLICACAO REAL!
				function socketStart()
				{
    				socket.emit('start');
				}
				function socketNewFixedChallenge()
				{
    				socket.emit('newFixedChallenge');
				}
				function socketCorrectFixedChallenge()
				{
    				socket.emit('correctFixedChallenge');
				}
				function socketNewPeriodicChallenge()
				{
    				socket.emit('newPeriodicChallenge');
				}
				function socketCorrectPeriodicChallenge()
				{
    				socket.emit('correctPeriodicChallenge');
				}
				
				function socketLoseLife()
				{
    				socket.emit('loseLife');
				}
				function socketGameOver()
				{
    				socket.emit('gameOver');
				}
				// setInterval(function()
				// {
				// 	socket.emit("leitura","tem?")
				// },300);
				window.onload=gameStart;
			</script>
			


		</footer>

	</body>

</html>